<div class="main-container">
  <div class="content">
    <div class="cards-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
            <% @bookings.each do |booking| %>
            <% link_to booking.id, booking_path(booking) %>
            Start date: <%= booking.start_date %>
            End date: <%= booking.end_date %>
            Paid?: <%= booking.paid? %>
            Status: <%= booking.status %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
