<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="cards-container">

        <% if @user.role == "beneficiary" %>

          <% @bookings.each do |booking| %>
            <div class="card" style="background-image: url()">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g class="nc-icon-wrapper" fill="#444444">
                    <path d="M16.2 26.69l5.66-5.66L7.83 7c-3.12 3.12-3.12 8.19 0 11.31l8.37 8.38zm13.57-3.63c3.05 1.43 7.36.42 10.54-2.76 3.83-3.83 4.56-9.3 1.63-12.23C39 5.14 33.52 5.87 29.7 9.7c-3.18 3.18-4.18 7.49-2.76 10.54-4.45 4.44-19.53 19.52-19.53 19.52l2.83 2.83L24 28.83l13.76 13.76 2.83-2.83L26.83 26l2.94-2.94z"></path>
                </g>
              </svg>
              <h2>Service: <%= booking.service.category %></h2>
              <h2>Provider: <%= booking.service.user.first_name %> <%= booking.service.user.last_name %></h2>
              <h2>Price: <%= booking.service.price %></h2>
              <h2>Date: <%= booking.start_date %></h2>
              <h2>Status= <%= booking.status %></h2>
              <h2><%= link_to "Cancel", booking_path(booking), method: :delete, class: 'btn btn-primary' %> </h2>
            </div>
          <% end %>

        <% elsif @user.role =="provider" %>

          <% @bookings.each do |booking| %>
          <div class="card" style="background-image: url()">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g class="nc-icon-wrapper" fill="#444444">
                    <path d="M16.2 26.69l5.66-5.66L7.83 7c-3.12 3.12-3.12 8.19 0 11.31l8.37 8.38zm13.57-3.63c3.05 1.43 7.36.42 10.54-2.76 3.83-3.83 4.56-9.3 1.63-12.23C39 5.14 33.52 5.87 29.7 9.7c-3.18 3.18-4.18 7.49-2.76 10.54-4.45 4.44-19.53 19.52-19.53 19.52l2.83 2.83L24 28.83l13.76 13.76 2.83-2.83L26.83 26l2.94-2.94z"></path>
                </g>
              </svg>
              <h2>Customer: <%= booking.user.first_name %> <%= booking.user.last_name %></h2>
              <h2>Date: <%= booking.start_date %></h2>
              <h2>Status= <%= booking.status %></h2>
              <h2><%= link_to "Confirm", booking_path(booking), method: :patch, class: 'btn btn-primary' %>
              <%= link_to "Cancel", booking_path(booking), method: :delete, class: 'btn btn-primary' %> </h2>
              </div>
          <% end %>
      <% end %>

      </div>
    </div>
  </div>
</div>




